/* <!-- ---- Initial/Setup ---- --> */
:root{
  --lg-font: 'Kaisei Tokumin', serif;
  --sm-font: 'Poppins', sans-serif;
  --general: gray !important;

}


body {
  font-family: var(--sm-font);
  --general: gray !important;
    
}
.btn:not(.nav-btns, .button-container .btn){
  background-color: whitesmoke;
  color: rgb(1, 27, 69);
  padding: 10px 28px;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
}
.btn:not(.nav-btns, .button-container .btn):hover{
  background: rgb(2, 37, 94);
  color: white;
  border: var(--general);
}
.title h2::before{
  position: absolute;
  content: "";
  width: 4px;
  height: 50px;
  background-color: var(--general);
  left: -20px;
  top: 50%;
  transform: translateY(-50%)
}

/* <!-- ---- Navbar ---- --> */
.navbar-brand img{
  width: 190px;
}
#brand-name{
    letter-spacing: 1px;
    font-family: var(--lg-font);
    font-size: 18px;
    font-family: "Rockwell", sans-serif; /* Change font to Colombo */
}
.navbar{
 box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1); 
}
.nav-link:hover{
  color: var(--general) !important;
}
.nav-item{
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
.nav-btns .btn{
  background-color: white;
  color: rgb(85, 85, 85);
  margin: 5px;
  border: 1px solid rgb(85, 85, 85);
}
.nav-btns .btn:hover{
  background: var(--general);
  color: white;
  border: var(--general);
}
@media(min-width: 992px){
  .nav-item{
      border-bottom: none;
  }
}
@media(max-width: 420px){
  #brand-name{
      display: none;
  }
}
@media(min-width: 420px){
  #brand-name2{
      display: none;
  }
}
@media(max-width: 420px){
  #searchbar{
      width: 100%;
  }
}
@media(min-width: 420px){
  #searchbar{
      width: 50%;
  }
}
@media(min-width: 420px){
  .nav-btn-label{
      display: none;
  }
}

/* <!-- ---- Hero ---- --> */
#hero{
  background: var(--general);
  height: 80vh;
  padding-top: 104px;
}
.carousel-inner h1{
  font-size: 60px;
  font-family: var(--lg-font);
  color: black;
}
.carousel-item .btn{
  border-color: white !important;
}

/* <!-- ---- Collection ---- --> */
.active-filter-btn {
  background-color: var(--general) !important;
  color: white !important;
  border-color: var(--general) !important;
}
.active-tab {
  background: rgb(1, 27, 69) !important;
  color: white !important;
  border: var(--general) !important;
}
.collection-img span{
  top: 5px;
  right: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* <!-- ---- Specials ---- --> */
.special-img span{
  top: 20px;
  right: 20px;
}
.special-img:hover img{
  transform: scale(1.2);
}
.special-img img{
  transition: all 0.3s ease;
}

/* <!-- ---- Banner ---- --> */
#banner .row{
  background: #ffc300;
  min-height: 40vh;
}

/* <!-- ---- Footer ---- --> */
.text-footer {
    color: black; /* Set the text color to white. */
    -webkit-text-stroke: .3px gray;
    font-size: 15px;/* Optionally, add some padding to create space between the text and the border. */
    z-index: 1;
}
.footer-bg {
    background-image: url("/footer.png");
    opacity: 1;
    border: 1px solid black; /* Add a 1px black border around the text. You can adjust the border width as needed. */
    padding: 5px;
    z-index: 0;
}

 /* ---------- Portfolio --------- */
 .portfolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(17, 36, 90, 0.9);
  display: flex;
  align-items: flex-end;
  padding: 30px;
  opacity: 0;
 }
 .portfolio-item:hover .portfolio-overlay {
  opacity: 1;
 }
 .portfolio-item:hover img {
  transform: scale(1.1);
 }
 .portfolio-item img,
 .portfolio-item .portfolio-overlay {
  transition: all 0.4s ease;
 }

/* <!-- ---- Product ---- --> */
#product{
  padding-top: 105px;
  padding-bottom: 60px;
}

/* <!-- ---- About Us ---- --> */
#aboutUs{
  padding-top: 120px;
}
/* <!-- ---- Seller ---- --> */
#seller{
    padding-top: 120px;
}

/* <!-- ---- Contact Us ---- --> */
#contactUs{
  padding-top: 50px;
}

/* <!-- ---- Cart ---- --> */
.cartQty {
  background-color: transparent;
}
.cartList-con {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.cartProd {
  flex: 65%;
}
.RemoveFromCart {
  flex: 15%;
}
.cartProd h4,
p {
  margin-bottom: 0;
  font-size: 13px;
}
.cartProd h4 {
  font-size: 15px;
  margin-right: 15px;
  margin-bottom: 0;
}
.cartImg {
  width: 35px;
  overflow: hidden;
  border: 1px solid rgb(231, 222, 222);
  flex: 20%;
  margin-right: 15px;
}
.Cart-total {
  margin: 0;
  background-color: #212529;
  width: 100%;
  height: 90vh;
  color: white;
  padding: 20px;
}
.Cart-total-heading {
  color: white;
}
.cartContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.cartImage {
  overflow: hidden;
  border: 1px solid rgb(231, 222, 222);
  flex: 20%;
  margin-right: 15px;
}
.cartProdName {
  flex: 70%;
}
.cartProdName h4 {
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 0;
}
.RemoveCartItem {
  flex: 10%;
  margin-left: 10px;
}
@media(max-width: 420px){
  .cartImage {
      display: none;
  }
}

.button-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Adjust the maximum width as needed */
    padding: 10px; /* Add padding for space between buttons and container edge */
}

/* CSS for larger screens (computers) */
@media (min-width: 768px) {
    #myNavbar {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
}

/* CSS for smaller screens (phones) */
@media (max-width: 767px) {
    #myNavbar {
        position: static; /* or any other position value you prefer */
    }
}

/*Left Category List*/
.category-list {
    background-color: #f8f9fa; /* Background color */
    padding: 12px; /* Add padding for spacing */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.category-list h4 {
    font-size: 18px; /* Adjust the heading font size */
    font-weight: bold;
    margin-bottom: 10px; /* Spacing below heading */
}

.list-group {
    margin: 0; /* Remove default margin */
}

.list-group-item {
    border: none; /* Remove list item borders */
    padding: 5px 0; /* Adjust padding for list items */
    font-size: 14px; /* Adjust list item font size */
    text-align: left;
}

.list-group-item:hover {
    background: rgb(2, 37, 94); /* Hover background color */
    color: white;
    font-weight: normal;
    cursor: pointer; /* Change cursor on hover */
    text-align: left;
}

/* <!-- ---- Auth ---- --> */
.page-content{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(230, 230, 230), white);
}
.auth-card{
  background-color: white;
  box-shadow: 0 3px 12px rgb(0 0 0 / 0.2);
  border-radius: 20px;
  padding: 10px 10%;
}
.service-btn{
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  width: 100%;
  color: rgb(46, 46, 46);
  height: 45px;
  box-shadow: none;
}
.btn-theme{
  background-color: black !important;
  color: white !important;
  box-shadow: none !important;
  position: absolute;
  top: 10px;
  left: 10px;
}
@media(max-width: 420px){
  #auth{
      padding-top: 80px;
  }
}

/* ----- Auth Dark Theme ----- */
.page-content-dark{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(0, 0, 0), #1f2833);
}
.auth-card-dark{
  background-color: rgb(255, 255, 255, 0.1);
  box-shadow: 0 3px 16px rgb(0 0 0 / 0.4);
  border-radius: 20px;
  padding: 10px 10%;
  color: white;
}
.service-btn-dark{
  background-color: rgb(0, 0, 0, 0.2) !important;
  width: 100%;
  color: white !important;
  height: 45px;
  box-shadow: none !important;
}
.btn-theme-dark{
  background-color: white !important;
  color: black !important;
  box-shadow: none !important;
  position: absolute;
  top: 10px;
  left: 10px;
}
.auth-input-dark{
  background: rgb(0, 0, 0, 0.2);
  border: none;
  color: white;
  box-shadow: none !important;
}
.auth-input-dark:focus {
  background: rgb(0, 0, 0, 0.3);
  color: #66fcf1;
}


/* <!-- ---- Loader ---- --> */
.loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-contents {
  text-align: center;
}

.custom-spinner {
  width: 100px;
  height: 100px;
  border-width: 5px;
  border-top-color: #800080; /* Use purple as the top border color */
}